<a href="https://colab.research.google.com/github/RaianaSeixas/Portifolio/blob/main/Python_for_Finance/Python_for_Finance/Web_scraping_with_Pandas_S%26P_500.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Web scraping is the process of using a program to extract content and data from a website.

Pandas provides a read_html() function, which can be used to convert tables on web pages to DataFrames.
Let's scrape the list of S&P 500 companies from Wikipedia.
The list is available on the Wikipedia article page as a table.

https://en.wikipedia.org/wiki/List_of_S%26P_500_companies

In [1]:
import pandas as pd

data = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df = data[0]
df.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981

In [2]:
# info() function can be used to ceck information about the columns:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Symbol                 504 non-null    object
 1   Security               504 non-null    object
 2   SEC filings            504 non-null    object
 3   GICS Sector            504 non-null    object
 4   GICS Sub-Industry      504 non-null    object
 5   Headquarters Location  504 non-null    object
 6   Date first added       459 non-null    object
 7   CIK                    504 non-null    int64
 8   Founded                504 non-null    object
dtypes: int64(1), object(8)
memory usage: 35.6+ KB

In [3]:
# Select and output only specific columns (Symbol and Company name):

df = df[['Symbol', 'Security']]
df

    Symbol       Security
0      MMM             3M
1      AOS    A. O. Smith
2      ABT         Abbott
3     ABBV         AbbVie
4     ABMD        Abiomed
..     ...            ...
499    YUM    Yum! Brands
500   ZBRA          Zebra
501    ZBH  Zimmer Biomet
502   ZION  Zions Bancorp
503    ZTS         Zoetis

[504 rows x 2 columns]

In [4]:
# Filter the table by company name:

df = df[df['Security'] == 'Apple']
df

   Symbol Security
46   AAPL    Apple