<a href="https://colab.research.google.com/github/RaianaSeixas/Portfolio/blob/main/Data_Bank/Oracle_of_Bacon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem Description
The Oracle of Bacon is a web game where the objective of the game is to start with any actor or actress who has been in a movie and connect them to Kevin Bacon in the smallest number of links possible. Two people are linked if they've been in a movie together.

The game is based on the Six Degrees of Separation, which is the idea that all people are separated by six (or fewer) social connections from each other. Also known as the 6 Handshakes Rule.

This code is able to provide the Bacon nuber for an actor or actress given a dataset from the IMDB website.
__________________________________

Athor: Raiana Roland Seixas
Date: 04/08/2022

# Library import and data load

In [ ]:
import pandas as pd
import zipfile

In [ ]:
!gdown --id 1nQOU1QjZJNnCpnihSMbuTkpUvMzpAVfH

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1nQOU1QjZJNnCpnihSMbuTkpUvMzpAVfH
To: /content/baconOracle.zip
100% 59.1M/59.1M [00:00<00:00, 201MB/s]

In [ ]:
file_name = zipfile.ZipFile('baconOracle.zip', 'r')
file_name.extractall()

In [ ]:
dataset_name ='cast_data.csv'
df1 = pd.read_csv(dataset_name)
df1.head()

   id             name   birth
0   1     Fred Astaire  1899.0
1   2    Lauren Bacall  1924.0
2   3  Brigitte Bardot  1934.0
3   4     John Belushi  1949.0
4   5   Ingmar Bergman  1918.0

In [ ]:
dataset_name ='cast_and_movies_data.csv'
df2 = pd.read_csv(dataset_name)
df2.head()

   person_id  movie_id
0     844752     15724
1     869732     15724
2     194720     15724
3     650495     15724
4       8738     31458

In [ ]:
dataset_name ='movies_data.csv'
df3 = pd.read_csv(dataset_name)
df3.head()

      id                        title  year
0  15724                Dama de noche  1993
1  23331              Pesn o geroyakh  1983
2  31458     El huésped del sevillano  1970
3  35423               Kate & Leopold  2001
4  36606  Another Time, Another Place  1983

# Problem Solution

The strategy used was creating a network having Keving Bacon in the center, all people that worked direct with him in the first layer, all people that worked with the ones of the first layer in  the second layer, and so on.

In [ ]:
''' Type here the actor name to be connected with Kevin Bacon '''

Candidate ='Arnold Schwarzenegger'
#Candidate='Carla Camurati'
#Candidate='Raiana'
#Candidate='Emily Longstreth'

In [ ]:
CenterName ='Kevin Bacon'
BaconID=df1[df1['name']==CenterName].iloc[0]['id'] # Obtainig Kevin Bacon id
#print(BaconID)

In [ ]:
''' This function cretates a set containing the id of all people that worked in a given list of movies '''

def layercreation(movies,df2=df2):
  layer = set([])
  for k in movies:
      df = df2[df2.movie_id == k]
      persons = df['person_id'].values.tolist()
      layer = layer.union(set(persons))
  return layer

In [ ]:
''' This function creates a set containing the id all movies in which people participated, given a list of person ids  '''

def movies_creation(layer,df2=df2):
  movies_new = set([])

  for k in layer:
    df = df2[df2.person_id == k]
    movies = df['movie_id'].values.tolist()
    movies = set(movies)
    movies_new = movies_new.union(movies)
    
  return movies_new

In [ ]:
''' Checking if the actor is in the dataset and obtaining the candidate id '''

consistencyTest=Candidate in df1['name'].values
if consistencyTest:
  df_Candidate=df1[df1['name'].str.contains(Candidate, na=False)]
  CandidateID = df_Candidate.iloc[0]['id']
  
#print(CandidateID)

In [ ]:
''' 
This loop will create each layer of the network and look for the candidate person on it. 
Once the candidate person is found, the loop is interrupted.
'''

num_layers = 6
layers = set([BaconID])

if consistencyTest:
  for k in range(num_layers):
    movies= movies_creation(layers,df2=df2)
    layers= layercreation(movies,df2=df2)
    candidatoInLayer = CandidateID in layers
    if(candidatoInLayer):
      print('The number of movies that connects {} and Kevin Bacon is'.format(Candidate),k+1)
      break
else:
  print(Candidate,' is not in the dataset, choose another name.')

The number of movies that connects Arnold Schwarzenegger and Kevin Bacon is 2

# Improvement ideas

The code takes a long time to run since the 3rd layer. To make it easier for the user, it would be good create all layers in a separated code, and just import this information during the research. Another improvement would be store the path (movies and actors) between Kevin Bacon and the researched one.